{% if request.user.is_authenticated %}
    <form action="{% url 'comment:add_comment' %}" method="POST"
          id="comment_form" role="form">
        {% csrf_token %}
        <div class="form-group">
            {% for cmtform in comment_form %}
                {{ cmtform }}

            {% endfor %}
            <span class="text-danger"
                  id="comment_error_text">{{ cmtform.errors }}</span>

        </div>
        <div class="form-group">
            <button class="btn btn-primary" id="comment_submit"
                    type="submit">
                发表评论
            </button>
        </div>
    </form>

{% else %}
    <a href="{% url 'user:login' %}">登录</a>后才能进行评论
{% endif %}