{% if request.user.is_authenticated %}
    <form action="{% url 'comment:add_comment' %}" method="POST"
          id="comment_form" role="form">
        {% csrf_token %}
        <div class="form-group">
            {% for cmtform in comment_form %}
                {{ cmtform }}
            {% endfor %}
            <span class="text-danger"
                  id="comment_error_text">{{ cmtform.errors }}</span>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" id="comment_submit"
                    type="submit">
                发表评论
            </button>
        </div>
    </form>

{% else %}
    <span class="visible-xs">
    <a type="button" class="btn btn-default"
       href="{% url 'user:login' %}?next_url={{ request.get_full_path }}">登录
    </a>

    </span>
    <span class="hidden-xs">
        <a data-toggle="modal" class="my_modal_login"
           type="button" data-target="#loginModal">
                            登录</a>后才能进行评论
    </span>

{% endif %}
