{% extends 'base.html' %}

{% block titile %}
    文章列表
{% endblock titile %}

{% block content %}
    {% include 'tags/cate_filter.html' %}
    <div>
        aaa
        {% for data in seven_days_hot %}
            <p>
                {{ data }}
            </p>

        {% endfor %}
        aaa
    </div>




    <hr>

    {% for article in articles %}
        <article>
            <h2>
                <a href="{% url 'blog:article' article.id %}"
                   target="_blank">{{ article.title }}</a>
            </h2>
            <ul class="list-inline">
                <li>
                    <i class="far fa-user"></i>
                    <a href="#">
                        {% if article.author.first_name %}
                            {{ article.author.first_name }}
                        {% else %}
                            匿名
                        {% endif %}
                    </a>
                </li>
                <li>
                    <span class="glyphicon glyphicon-time"></span>
                    发布于{{ article.pub_date }}
                </li>
                <li>
                    <i class="far fa-comment"></i>
                    评论()

                </li>
                <li>
                    <i class="fas fa-eye"></i>阅读
                    ({{ article.get_read_num }})
                </li>
                <li>
                    <a href="{% url 'blog:articles' %}?cate={{ article.cate.id }}">{{ article.cate }}</a>
                </li>

            </ul>
        </article>
        <hr>
    {% endfor %}
{% endblock content %}