{% extends 'base.html' %}

{% block titile %}
    {{ article.title }}
{% endblock titile %}

{% block content %}
    <div>
        标题：{{ status }}-{{ article.title }}
    </div>

    <div>
        作者：{{ article.author }}
    </div>

    <div>
        {{ article.detail|safe }}
    </div>

    <hr>

    {% include 'comment/comment_tag.html' %}

    <hr>
    <div id="cmt_form">

    </div>
    <h3>最新评论：</h3>
    <div>
        {% if comments %}
            {% for comment in comments %}
                <div>
                    <b>{{ comment.cmt_user }}</b>
                </div>
                <div>
                    {{ comment.cmt_detail|safe }}
                </div>
                <div>
                    {{ comment.cmt_date| date:'Y-m-d H:i:s' }}
                </div>
                <hr>
            {% endfor %}

        {% else %}
            暂无评论
        {% endif %}
    </div>

{% endblock content %}


{% block script %}
    <script>
        $("#comment_form").submit(function () {
            let error_text = $("#comment_error_text");
            error_text.text("");
            const ek_content = CKEDITOR.instances['id_detail'].document.getBody().getText().trim();
            if (ek_content === "") {
                error_text.text("评论内容不能为空");
                return false;
            }

            CKEDITOR.instances['id_detail'].updateElement();

            $.ajax({
                url: "{% url 'comment:add_comment' %}",
                type: "POST",
                data: $(this).serialize(),
                cache: false,
                success: function (data) {
                    console.log(data);
                    if (data["status"] === "success") {
                        console.log("OK了");
                        location.reload();
                    } else {
                        error_text.text(data["error_message"]);
                    }
                },
                error: function (xhr) {
                    console.log("xhr");
                }

            });
            return false;
        });
    </script>
{% endblock script %}

