{% extends 'base.html' %}

{% block titile %}
    {{ article.title }}
{% endblock titile %}

{% block content %}
    {# 文章 #}
    <h3>{{ status }} {{ article.title }}</h3>
    <div>
        <span>{{ article.author }}</span>
        <span>{{ article.pub_date| date:'Y-m-d H:i:s' }}</span>
        <span>阅读({{ article.get_read_num }})</span>
        <span>评论(#)</span>
        <span><a href="">{{ article.cate }}</a></span>
    </div>
    <hr>

    <div>
        {{ article.detail|safe }}
    </div>

    <hr>
    {# 评论框 #}
    {% include 'comment/comment_tag.html' %}
    {# 评论框结束 #}
    <hr>

    {# 评论内容 #}
    <h3>全部评论：</h3>
    <hr>
    <div id="comments">
        {% for comment in comments %}
            <div class="comment">
                <div class="comment_user">
                    {{ comment.cmt_user }}
                </div>
                <div class="comment_detail">
                    {{ comment.cmt_detail|safe }}
                </div>

                <div class="comment_date">
                    <span>#{{ forloop.revcounter }}</span>
                    <span>{{ comment.cmt_date| date:'Y-m-d H:i:s' }}</span>
                    <span class="reply"><a class="reply-{{ comment.id }}">回复</a></span>
                </div>


                <div class="reply">
                    {# 对评论的回复 #}
                    {% for reply  in comment.rpy_root.all %}
                        <div class="comment_user">
                            {{ reply.cmt_user }}
                        </div>
                        <div class="reply_detail">
                            {{ reply.cmt_detail }}
                        </div>
                        <div class="comment_date">
                            <span>{{ reply.cmt_date }}</span>
                            <span class="reply"><a class="">回复</a></span>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>
{% endblock content %}


{% block script %}
    <script>
        $("#comment_form").submit(function () {
            let error_text = $("#comment_error_text");
            error_text.text("");
            const ek_content = CKEDITOR.instances['id_detail'].document.getBody().getText().trim();
            if (ek_content === "") {
                error_text.text("评论内容不能为空");
                return false;
            }

            CKEDITOR.instances['id_detail'].updateElement();

            $.ajax({
                url: "{% url 'comment:add_comment' %}",
                type: "POST",
                data: $(this).serialize(),
                cache: false,
                success: function (data) {
                    console.log(data);
                    if (data["status"] === "success") {
                        console.log("OK了");
                        location.reload();
                    } else {
                        error_text.text(data["error_message"]);
                    }
                },
                error: function (xhr) {
                    console.log("xhr");
                }

            });
            return false;
        });
    </script>
{% endblock script %}

