{% extends 'base.html' %}

{% block titile %}
    {{ article.title }}
{% endblock titile %}

{% block content %}
    <div>
        标题：{{ status }}-{{ article.title }}
    </div>

    <div>
        作者：{{ article.author }}
    </div>

    <div>
        {{ article.detail|safe }}
    </div>

    <hr>

    {% include 'comment/comment_tag.html' %}

    <hr>
    <div id="cmt_form">

    </div>
    <h3>评论：</h3>
    <div>
        {% if comments %}
            {% for comment in comments %}
                <div>
                    <b>{{ comment.cmt_user }}</b>
                </div>
                <div>
                    {{ comment.cmt_detail|safe }}
                </div>
                <div>
                    {{ comment.cmt_date| date:'Y-m-d H:i:s' }}
                </div>
                <hr>
            {% endfor %}

        {% else %}
            暂无评论
        {% endif %}
    </div>

{% endblock content %}


{% block script %}
{% endblock script %}

